.App {
  text-align: center;
  padding: 75px;
}
h1 {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h1::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: red;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

h1:hover::after {
  width: 100%;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}